@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
a {
    color: #666;
    text-decoration: none;
}
a:hover {
    color: #4FDA8C;
}
body
{
    position: relative;
    color: #666;
    font: 16px/26px "Raleway", sans-serif;
    text-align: center;
    height: 100%;
    background: -moz-linear-gradient(180deg, rgba(47,88,85,1) 0%, rgba(116,196,192,1) 50%, rgba(197,231,238,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(47,88,85,1) 0%, rgba(116,196,192,1) 50%, rgba(197,231,238,1) 100%);
    background: linear-gradient(180deg, rgba(47,88,85,1) 0%, rgba(116,196,192,1) 50%, rgba(197,231,238,1) 100%);
}

.logo
{
  background-color: white;
  width: 50%;
  float: left;
  border-radius: 5px;
}
.formulario
{
  width: 50%;
  float: left;
  margin-top: 15%;
}